

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Prepare Document Template in Whiteboard &mdash; Contentserv  documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" />
    <link rel="next" title="Product Template" href="product.html" />
    <link rel="prev" title="Document Template" href="document.html" /> 

  
  <script src="../../../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../../../contents.html" class="icon icon-home"> Contentserv
          

          
          </a>

          
            
            
              <div class="version">
                17.3
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../../../../index.html">Overview</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../../../../introduction.html">Contentserv</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../../../../index.html">Deployment and Product Guides</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../../../../gettingstarted/index.html">Getting Started</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../leadingconcepts/index.html">Leading Concepts</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../../../index.html">Using the Platform</a><ul class="current">
<li class="toctree-l4 current"><a class="reference internal" href="../../index.html">Using the Features</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../../references.html">References</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../tutorials/index.html">Tutorials</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../glossary.html">Glossary</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../contents.html">Contentserv</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../contents.html">Docs</a> &raquo;</li>
        
          <li><a href="../../../../../index.html">Overview</a> &raquo;</li>
        
          <li><a href="../../../../index.html">Deployment and Product Guides</a> &raquo;</li>
        
          <li><a href="../../../index.html">Using the Platform</a> &raquo;</li>
        
          <li><a href="../../index.html">Using the Features</a> &raquo;</li>
        
          <li><a href="../index.html">Marketing Experience Management (MxM)</a> &raquo;</li>
        
          <li><a href="index.html">Publication Templates</a> &raquo;</li>
        
      <li>Prepare Document Template in Whiteboard</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="s-prepare-document-template-in-whiteboard">
<span id="prepare-document-template-in-whiteboard"></span><h1>Prepare Document Template in Whiteboard<a class="headerlink" href="#prepare-document-template-in-whiteboard" title="Permalink to this headline">¶</a></h1>
<p>Preparing a document template allows template planners and designers to define how the document should look like before actually creating it.</p>
<table class="docutils">
<colgroup>
<col width="4%" />
<col width="96%" />
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><strong>Purpose:</strong></td>
<td><ul class="first last simple">
<li>The purpose of this document is to show you how to plan Document Templates. You will be guided through the different stages involved in the planning of a new document template.</li>
</ul>
</td>
</tr>
<tr class="row-even"><td><strong>Target Audience:</strong></td>
<td><ul class="first last simple">
<li>Template Planners</li>
<li>Marketing Professionals</li>
<li>Analysts</li>
</ul>
</td>
</tr>
<tr class="row-odd"><td><strong>Prerequisites:</strong></td>
<td><ul class="first last simple">
<li>Adobe © InDesign © must be installed in your system.</li>
<li>Desktop Publisher (DTP) client must be installed and integrated with Adobe © InDesign ©.</li>
<li>You must have valid credentials to access the Contentserv system.</li>
<li>At least one product template must exist in the system.</li>
</ul>
</td>
</tr>
<tr class="row-even"><td><strong>Key Terms:</strong></td>
<td><ul class="first last simple">
<li><strong>CS Desktop Publisher:</strong> the <a class="reference internal" href="csdesktoppublisher.html"><span class="doc">Desktop Publisher</span></a> is a plugin for simple data transfer and updating functions.
It is available as an additional option for templates and dynamic editing in the print sector. The Desktop Publisher allows you to use and update Contentserv system objects in Adobe © InDesign © documents.
Frames and individual texts will be assigned to variables which can connect them to system objects like products or images. This will allow for ease of creating and updating documents which are based on an object or document templates.</li>
<li><strong>Whiteboard:</strong> <a class="reference internal" href="whiteboard.html"><span class="doc">Whiteboard</span></a> is a Contentserv feature that is similar to Adobe © InDesign © application.
There are two types of target audiences who will be involved in the publications. One is a planner who will actually plan the publication. The other one is a designer who will make the layout and will prepare the templates using Adobe © InDesign © software.
Desktop Publisher will help the planner to plan how a publication should look like.</li>
<li><strong>Workable Area:</strong> the <a class="reference internal" href="workablearea.html"><span class="doc">Workable Area</span></a> is defined while creating a document template in Adobe © InDesign ©.
A designer will define this area using an Adobe © InDesign © frame in a document template. The Workable Area is a dynamic area where products will be placed in Desktop Publisher.</li>
<li><strong>Slot:</strong> the <a class="reference internal" href="slots.html"><span class="doc">Slot</span></a> is a place in a document template where a product is placed while planning the document template in Whiteboard.
A planner will split the defined Workable Area of a document template into N number of rows and columns according to his need in Whiteboard. Thus, he will create a slot, which is a separate space for each product.
Now, a planner can place products into separate slots, where one slot will contain a single product.</li>
<li><strong>Document Template:</strong> a <a class="reference internal" href="documenttemplate.html"><span class="doc">document template</span></a> contains guides, styles, page attribute placeholders, “static” elements, and so on.
A designer starts the preparation of a document template using Adobe © InDesign ©. It is a physical .indd Adobe © InDesign © file. It does not contain actual information, just the layout and data dimension.
It serves as a starting point of a document. A designer can define the Workable Area and place the header, footer, logo or background image.
Once you create the document template in Adobe © InDesign ©, you can tinker with it in the Whiteboard of the Contentserv system. Using Whiteboard, you can plan how products should be placed in a document template, and define Slots for product placement.
These document templates are used in creating publication templates.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<div class="line-block">
<div class="line"><br /></div>
</div>
<div class="section" id="s-available-features-in-whiteboard">
<span id="available-features-in-whiteboard"></span><h2>Available Features in Whiteboard<a class="headerlink" href="#available-features-in-whiteboard" title="Permalink to this headline">¶</a></h2>
<table class="docutils">
<colgroup>
<col width="2%" />
<col width="12%" />
<col width="5%" />
<col width="80%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head"><strong>Sr. No.</strong></th>
<th class="head"><strong>Icon</strong></th>
<th class="head"><strong>Name</strong></th>
<th class="head"><strong>Details</strong></th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><ol class="first last arabic simple">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/321.PNG" class="first last" src="../../../../../_images/321.PNG" />
</td>
<td>Zoom In</td>
<td>It is the Zoom in feature. It will make a screen appear much larger.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="2">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/331.PNG" class="first last" src="../../../../../_images/331.PNG" />
</td>
<td>Zoom Out</td>
<td>It is the Zoom out feature. It will make a screen appear much smaller.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="3">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/341.PNG" class="first last" src="../../../../../_images/341.PNG" />
</td>
<td>Set Default Zoom Level</td>
<td>It will set the default zoom level.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="4">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/351.PNG" class="first last" src="../../../../../_images/351.PNG" />
</td>
<td>Hide Grid</td>
<td>This feature is used to hide the grids from the document template in a page preview.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="5">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/361.PNG" class="first last" src="../../../../../_images/361.PNG" />
</td>
<td>Show Grid</td>
<td>This feature is used to show the grids in a document template in page preview.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="6">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/371.PNG" class="first last" src="../../../../../_images/371.PNG" />
</td>
<td>Hide Background</td>
<td>This feature will hide everything from the background in page preview.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="7">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/381.PNG" class="first last" src="../../../../../_images/381.PNG" />
</td>
<td>Show Background</td>
<td>This feature will show everything in the background if anything is hidden.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="8">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/391.PNG" class="first last" src="../../../../../_images/391.PNG" />
</td>
<td>Hide Tags</td>
<td>This feature will hide the tags in a page preview.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="9">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/401.PNG" class="first last" src="../../../../../_images/401.PNG" />
</td>
<td>Show Tags</td>
<td>This feature will show the tags in a page overview.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="10">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/421.PNG" class="first last" src="../../../../../_images/421.PNG" />
</td>
<td>Merge Slots</td>
<td>This feature is used to merge more than one Slot in a document template. You can select the Slots with the help of CTRL key and click on this icon to merge the selected Slots.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="11">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/431.PNG" class="first last" src="../../../../../_images/431.PNG" />
</td>
<td>Split Slots</td>
<td>This feature is used to split the Workable Area into multiple Slots. So that products can be placed in a separate Slot. When you click on split Slot icon, a window will prompt where you need to enter the number of rows and columns in which you want to split the Workable Area.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="12">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/441.PNG" class="first last" src="../../../../../_images/441.PNG" />
</td>
<td>Exchange Slots</td>
<td>This feature is used to exchange the Slots. You need to select any two Slots that you want to exchange and click on this icon.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="13">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/451.PNG" class="first last" src="../../../../../_images/451.PNG" />
</td>
<td>Page Previews</td>
<td>This feature is used to display a document in a preview mode. You will be able to see a document in a preview mode before it gets ready for Adobe © InDesign ©.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="14">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/461.PNG" class="first last" src="../../../../../_images/461.PNG" />
</td>
<td>Marketing Content</td>
<td>You need to first select any Slot where you want to place the article and then click on this icon. It will show the list of marketing articles that best fit in the selected Slot. You can drag any article from the list and place into the selected Slot.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="15">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/471.PNG" class="first last" src="../../../../../_images/471.PNG" />
</td>
<td>Marketing Bundles</td>
<td>You need to first select any Slot where you want to place the marketing bundle and then click on this icon. It will show the list of marketing bundles that best fit in selected Slot. You can drag any bundle from the list and place into the selected Slot.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="16">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/481.PNG" class="first last" src="../../../../../_images/481.PNG" />
</td>
<td>Product Templates</td>
<td>You need to first select any Slot. It will show you the list of product templates that best fit the selected Slot according to the Slot size. When you drag and drop any marketing article into a Slot, it will automatically fetch the product template as well based on the size of the selected Slot.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="17">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/491.PNG" class="first last" src="../../../../../_images/491.PNG" />
</td>
<td>Tags</td>
<td>It will show you the list of tags. You can drag and drop any of the tags into a Slot.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="18">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/501.PNG" class="first last" src="../../../../../_images/501.PNG" />
</td>
<td>Sync Status</td>
<td>This feature lets you know whether the planned products in product templates are presentin a document or not. It shows whether the products are in the planning phase or it is ready for Adobe © InDesign © and print.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="19">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/542.PNG" class="first last" src="../../../../../_images/542.PNG" />
</td>
<td>Refresh</td>
<td>It is a refresh feature. A planner will plan and save the document template details in Whiteboard. A Designer will accept the changes in Adobe © InDesign © made by a planner. If a designer makes any changes in a document template in Adobe © InDesign © and uploads it after he accepts the changes from a planner, then this refresh icon will blink in Whiteboard.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="20">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/521.PNG" class="first last" src="../../../../../_images/521.PNG" />
</td>
<td>Accept Changes</td>
<td>A planner will select the changes made by a designer and click on this icon to accept the changes.</td>
</tr>
<tr class="row-even"><td><ol class="first last arabic simple" start="21">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/532.PNG" class="first last" src="../../../../../_images/532.PNG" />
</td>
<td>Delete</td>
<td>A planner will select the changes made by a designer and click on this icon to reject or delete the changes.</td>
</tr>
<tr class="row-odd"><td><ol class="first last arabic simple" start="22">
<li></li>
</ol>
</td>
<td><img alt="../../../../../_images/562.PNG" class="first last" src="../../../../../_images/562.PNG" />
</td>
<td>Select All</td>
<td>A planner will select all the changes made by a designer by clicking on this icon. A planner can either accept or delete all the changes made by a designer in one go with the help of this feature.</td>
</tr>
</tbody>
</table>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-how-to-plan-a-document-template">
<span id="how-to-plan-a-document-template"></span><h2>How-to: Plan a Document Template<a class="headerlink" href="#how-to-plan-a-document-template" title="Permalink to this headline">¶</a></h2>
<div class="section" id="s-locate-a-document-template">
<span id="locate-a-document-template"></span><h3>Locate a Document Template<a class="headerlink" href="#locate-a-document-template" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>Log in and select <strong>MxM</strong> from the drop-down list located in the header panel.</li>
</ul>
<img alt="../../../../../_images/57.PNG" src="../../../../../_images/57.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Click on the <strong>Templates</strong> menu from the left pane.</li>
</ul>
<img alt="../../../../../_images/58.PNG" src="../../../../../_images/58.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>This screen shows all created templates including product templates, document templates, and publication templates.</li>
</ul>
<img alt="../../../../../_images/59.PNG" src="../../../../../_images/59.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Locate the document template for planning.</li>
</ul>
<img alt="../../../../../_images/60.PNG" src="../../../../../_images/60.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Alternatively, you can also use the filter option <em>Document Template</em> from <strong>Class Taxonomy</strong> to show only the document templates.</li>
</ul>
<img alt="../../../../../_images/61.PNG" src="../../../../../_images/61.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-open-a-document-template-in-content-open-view">
<span id="open-a-document-template-in-content-open-view"></span><h3>Open a Document Template in Content Open View<a class="headerlink" href="#open-a-document-template-in-content-open-view" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>Select and click on a document template to open it in content open view.</li>
</ul>
<img alt="../../../../../_images/60.PNG" src="../../../../../_images/60.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Add the Classes and Taxonomies from the <strong>Overview</strong> tab in content open view.</li>
</ul>
<img alt="../../../../../_images/62.PNG" src="../../../../../_images/62.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Add properties from the <strong>Properties</strong> tab in content open view.</li>
</ul>
<img alt="../../../../../_images/63.PNG" src="../../../../../_images/63.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>The <em>Relationship</em> tab of content open view lets you see Product Template, Images, Marketing Products, Publication Templates, and so on associated with a document template.</li>
</ul>
<img alt="../../../../../_images/64.PNG" src="../../../../../_images/64.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-open-a-document-template-in-whiteboard">
<span id="open-a-document-template-in-whiteboard"></span><h3>Open a Document Template in Whiteboard<a class="headerlink" href="#open-a-document-template-in-whiteboard" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>Click on the <strong>Open</strong> icon to open a document template in Whiteboard.</li>
</ul>
<img alt="../../../../../_images/65.PNG" src="../../../../../_images/65.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>The document template is shown in a preview mode.</li>
</ul>
<img alt="../../../../../_images/67.PNG" src="../../../../../_images/67.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-add-slots-in-the-document-template">
<span id="add-slots-in-the-document-template"></span><h3>Add Slots in the Document Template<a class="headerlink" href="#add-slots-in-the-document-template" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>View and select the Workable Area in a document template.</li>
</ul>
<img alt="../../../../../_images/68.PNG" src="../../../../../_images/68.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Click on the <strong>Split Slots</strong> icon to split the Workable Area into Slots.</li>
</ul>
<img alt="../../../../../_images/69.PNG" src="../../../../../_images/69.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>In the new prompt that appears, provide the Number of Rows and Number of Columns then click on the <strong>Split</strong> button.</li>
</ul>
<img alt="../../../../../_images/70.PNG" src="../../../../../_images/70.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>The Workable Area is now divided into Slots.</li>
</ul>
<img alt="../../../../../_images/71.PNG" src="../../../../../_images/71.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-add-tags-in-a-slots">
<span id="add-tags-in-a-slots"></span><h3>Add Tags in a Slots<a class="headerlink" href="#add-tags-in-a-slots" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>Select any Slot and assign tags to it. Click on the <strong>Tags</strong> icon found in the left vertical toolbar to view the list of tags.</li>
</ul>
<img alt="../../../../../_images/72.PNG" src="../../../../../_images/72.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>All tags that you select will be assigned to a Slot, and the selected tags are visible on the top of a Slot.</li>
</ul>
<img alt="../../../../../_images/73.PNG" src="../../../../../_images/73.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-add-products-in-a-slot">
<span id="add-products-in-a-slot"></span><h3>Add Products in a Slot<a class="headerlink" href="#add-products-in-a-slot" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>Click on the <strong>Marketing Articles</strong> icon found in left vertical toolbar to view the list of marketing articles.</li>
</ul>
<img alt="../../../../../_images/74.PNG" src="../../../../../_images/74.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>From the list, drag and drop any article to the desired Slot. The product template is selected automatically based on the slot size.</li>
</ul>
<img alt="../../../../../_images/75.PNG" src="../../../../../_images/75.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Drag and drop the marketing articles in each of the Slot based on how you want your document template to look like.</li>
</ul>
<img alt="../../../../../_images/76.PNG" src="../../../../../_images/76.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
</div>
<div class="section" id="s-refresh-and-sync-changes">
<span id="refresh-and-sync-changes"></span><h3>Refresh and Sync Changes<a class="headerlink" href="#refresh-and-sync-changes" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li>Click on the <strong>Refresh</strong> icon to show the sync status of the products. It will let you know whether the planned products in a product template are present in a document template or they are in a planning phase.
A red vertical line is shown beside each product that is not in sync.</li>
</ul>
<img alt="../../../../../_images/78.PNG" src="../../../../../_images/78.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Hover on the <strong>Information</strong> icon beside each Slot to know more details regarding the Slot, assigned product, and product template.</li>
</ul>
<img alt="../../../../../_images/79.PNG" src="../../../../../_images/79.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Click on the <strong>Save</strong> button to save the planning details from Whiteboard.</li>
</ul>
<img alt="../../../../../_images/80.PNG" src="../../../../../_images/80.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>You can sync these changes in DTP using Adobe © InDesign ©. When you accept the changes or planning from the Sync Status list in InDesign, the actual products will be placed in Adobe © InDesign © template.
Planning and Placement become in sync this way.</li>
<li>Planner and Designer can work in parallel in Whiteboard and Adobe © InDesign © respectively.</li>
<li>When a document is open at both Whiteboard and Adobe © InDesign ©, and a designer modifies a document template after accepting the changes that the planner has made in a document template, then there will be a notification in the Whiteboard side.
A planner will see a blinking <em>Refresh</em> icon in Whiteboard.</li>
</ul>
<img alt="../../../../../_images/127.PNG" src="../../../../../_images/127.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>A planner can accept all the changes made by a designer. In this case, a planner will select the changes and click on the <strong>Accept</strong> icon to accept the changes.</li>
</ul>
<img alt="../../../../../_images/82.PNG" src="../../../../../_images/82.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>As soon as the planner accepts the changes for a product, the red vertical line beside the product details turn into green, indicating that a product is in sync.</li>
</ul>
<img alt="../../../../../_images/84.PNG" src="../../../../../_images/84.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>A planner can also delete the changes made by a designer. In this case, a planner will select the changes and click on the <strong>Delete</strong> icon to delete the changes.</li>
</ul>
<img alt="../../../../../_images/82.PNG" src="../../../../../_images/82.PNG" />
<div class="line-block">
<div class="line"><br /></div>
</div>
<ul class="simple">
<li>Save the changes by clicking on the <strong>Save</strong> button.</li>
</ul>
<img alt="../../../../../_images/86.PNG" src="../../../../../_images/86.PNG" />
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
<img alt="Contentserv line" src="../../../../../_images/line-png-324.PNG" />
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="product.html" class="btn btn-neutral float-right" title="Product Template" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="document.html" class="btn btn-neutral" title="Document Template" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright CS Group.
      Last updated on Dec 10, 2018.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../../../',
            VERSION:'',
            LANGUAGE:'None',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../../../_static/doctools.js"></script>

  

  <script type="text/javascript" src="../../../../../_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>