

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Product Template &mdash; Contentserv  documentation</title>
  

  
  
  
  

  

  
  
    

  

  <link rel="stylesheet" href="../../../../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" />
    <link rel="next" title="Publication Template" href="publication.html" />
    <link rel="prev" title="Prepare Document Template in Whiteboard" href="preparedoc.html" /> 

  
  <script src="../../../../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../../../../contents.html" class="icon icon-home"> Contentserv
          

          
          </a>

          
            
            
              <div class="version">
                17.3
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../../../../../index.html">Overview</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../../../../introduction.html">Contentserv</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../../../../index.html">Deployment and Product Guides</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../../../../gettingstarted/index.html">Getting Started</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../settingup/index.html">Setting Up</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../leadingconcepts/index.html">Leading Concepts</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../../../index.html">Using the Platform</a><ul class="current">
<li class="toctree-l4 current"><a class="reference internal" href="../../index.html">Using the Features</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../../references.html">References</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../tutorials/index.html">Tutorials</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../glossary.html">Glossary</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../../../../contents.html">Contentserv</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../../../../contents.html">Docs</a> &raquo;</li>
        
          <li><a href="../../../../../index.html">Overview</a> &raquo;</li>
        
          <li><a href="../../../../index.html">Deployment and Product Guides</a> &raquo;</li>
        
          <li><a href="../../../index.html">Using the Platform</a> &raquo;</li>
        
          <li><a href="../../index.html">Using the Features</a> &raquo;</li>
        
          <li><a href="../index.html">Marketing Experience Management (MxM)</a> &raquo;</li>
        
          <li><a href="index.html">Publication Templates</a> &raquo;</li>
        
      <li>Product Template</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="s-product-template">
<span id="product-template"></span><h1>Product Template<a class="headerlink" href="#product-template" title="Permalink to this headline">¶</a></h1>
<div class="section" id="s-purpose">
<span id="purpose"></span><h2>Purpose<a class="headerlink" href="#purpose" title="Permalink to this headline">¶</a></h2>
<p>This document will help you create ‘Product Template’ in Adobe InDesign ©.</p>
</div>
<div class="section" id="s-target-audience">
<span id="target-audience"></span><h2>Target Audience<a class="headerlink" href="#target-audience" title="Permalink to this headline">¶</a></h2>
<p>Template Designers, Graphic Designers, System Administrators.</p>
</div>
<div class="section" id="s-overview">
<span id="overview"></span><h2>Overview<a class="headerlink" href="#overview" title="Permalink to this headline">¶</a></h2>
<p>Product template in Adobe © InDesign © or Whiteboard is used to create single page templates of marketing products. You can add images and text to a pre-defined workable area and design it as per the marketing requirement. It has both a layout and a data representation which is managed in their own structure.</p>
<p>A product template may consist of one or more Adobe © InDesign © frames that can be directly associated with attribute placeholders within the frame or on the frame (e.g., text, image, table).</p>
<p>Placement options (e.g., Fit content to frames, Fit frames to content), and paragraph styles (including GREP styles) are assigned to the frame via Adobe © InDesign © functionality. The frames of a product template can be placed on different levels. By saving and naming a product template, it is read into the PXP system.</p>
<p>The value for the entire length and width of the elements of the basic template is determined (size of the rectangle enclosing all frames).</p>
<p>When enriching the template in the PXP system (outside of Adobe © InDesign ©), the following information is collected:</p>
<blockquote>
<div><ul class="simple">
<li>Size (length, width)</li>
<li>Initially filled Distribution Channels (VTS): for which distribution channels the template can be used (see distinction/tagging)</li>
<li>Assortment Validity: for which assortment ranges the template can be used (see distinction/tagging)</li>
</ul>
</div></blockquote>
</div>
<div class="section" id="s-dtp-functions">
<span id="dtp-functions"></span><h2>DTP Functions<a class="headerlink" href="#dtp-functions" title="Permalink to this headline">¶</a></h2>
<div class="line-block">
<div class="line"><br /></div>
<div class="line"><br /></div>
</div>
<img alt="Contentserv line" src="../../../../../_images/line-png-324.PNG" />
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="publication.html" class="btn btn-neutral float-right" title="Publication Template" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="preparedoc.html" class="btn btn-neutral" title="Prepare Document Template in Whiteboard" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright CS Group.
      Last updated on Aug 29, 2018.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../../../../',
            VERSION:'',
            LANGUAGE:'None',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../../../../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../../../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../../../../_static/doctools.js"></script>

  

  <script type="text/javascript" src="../../../../../_static/js/theme.js"></script>

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script> 

</body>
</html>